@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 10s ease-in-out infinite;
}

.animate-floatSlow {
  animation: floatSlow 14s ease-in-out infinite;
}